<div class="row">
  <div class="header-content">
    <div class="header-content-inner">
      <h1>BookStore app uses the Backbone.Marionette as front end framework and will help you to test modern SEO</h1>
    </div>
  </div>
</div>
